h5 .ForecastDay {
  font-size: 14px;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.weather-icon .ForecastDay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
}
