h5 .ForecastDay {
  font-size: 14px;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  width: 75px;
  height: 75px;
}
@media screen and (max-width: 576px) {
  .card {
    align-items: center !important;
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
  }
}
@media screen and (max-height: 420px) and (orientation: landscape) {
  .card {
    position: relative;
    align-items: center !important;
    display: flex;
    flex-direction: column;
    width: auto;
  }
}
