.App-night {
  background-color: aquamarine;
  background-image: url("images/sunset-48086.svg");
  background-size: cover;
  background-position: bottom;

  transition: 0.4 ease-out;
  height: 100vh;
}
