.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  margin-top: 10px;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: rgb(239, 235, 235);
  color: black;
}

.search:hover,
.search:focus {
  border: 1.5px solid #009688;
  background-color: rgb(239, 235, 235);
}

.btn {
  margin: 10px;
}

.currentCity {
  font-size: 28px;
}
.weather-icon .Search {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 576px) {
  .currentCity {
    font-size: 18px;
    font-weight: bold;
  }
  .feelsLike {
    font-size: 12px;
  }
  .wind,
  .humidity,
  .pressure {
    font-size: 12px;
  }
}
